[data-theme="dark"] {
    /* used both as bg and border */
    --bg-strong: #555;
    /* Backgrounds */
    --bg-main: #121212;
    --bg-surface: #1e1e1e;
    /* Text */
    --text-main: #e4e4e4;
    --text-muted: #eeeeee;
    /* Borders */
    --border-main: #333;
    --border-radius-main: 2px;
    /* Scrollbar */
    --scrollbar-thumb: #7c7c7c;
    --scrollbar-track: #202020;

    /* Rows */
    --row-light: var(--bg-surface);
    --row-dark: #242424;
    --row-selected: var(--scrollbar-thumb);
}