@* @using FluentFTP *@
@using System.Net
@using Shared
@page "/"

@if (!LoggedIn)
{
	<div style="width:100vw; height:100vh; background-color:rgba(0,0,0,0.3	); position:absolute; top:0; left:0; z-index:2050; display:flex; justify-content:center; align-items:center">
		<div style="background-color:white; border-radius:5px; min-width: 95%;width:65%; height:65%; display:flex; align-items:center;flex-direction:column">
			<h2 style="font-weight:bold; padding:1%; height:auto; margin:0;">Login</h2>
			<form @onsubmit="OnLogin" style="display:flex;flex-direction:column; align-items:center; gap:2vh; height:auto; margin:2%">
				<div style="display:grid; grid-template-columns:10fr 90fr; align-items:center; gap:1%;">
					<p style="margin:0">
						Host:
					</p>
					<InputText @bind-value=LoginStuff.Host />
					<p style="margin:0">
						Port:
					</p>
					<InputNumber @bind-value=LoginStuff.Port placeholder="21" />
					<p style="margin:0">
						Username:
					</p>
					<InputText @bind-value=LoginStuff.Username />
					<p style="margin:0">
						Password:
					</p>
					<InputText @bind-value=LoginStuff.Password />
				</div>
				<label>
					Remember Me:
					<InputCheckbox @bind-Value=RememberMe />
				</label>
				<label>
					Passive Mode:
					<InputCheckbox @bind-Value=UsePassiveMode />
				</label>
				<button type="submit" style="">
					Login
				</button>
			</form>
		</div>
	</div>
}

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.


@code
{
	private bool LoggedIn = false;
	private LoginJson LoginStuff { get; set; } = new();
	private bool RememberMe { get; set; } = false;
	private bool UsePassiveMode { get; set; } = true;
	// private FtpClient? Client { get; set; } = null;

	private async Task OnLogin()
	{
		// if (Client != null) Client.Dispose();
		// try
		// {
		// 	Client = new(Host, Port)
		// 	{
		// 		Credentials = new NetworkCredential(Username, Password)
		// 	};
		// 	Client.Connect();
		// 	LoggedIn = true;
		// }
		// catch (Exception e)
		// {
		// 	Console.WriteLine(e);
		// }

	}
}